.PriceCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .input_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            width: 5rem;
        }
    }
}