.CashRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .input_container {
        display: flex;

        .input_box {
            margin: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                width: 5rem;
            }
        }
    }

    .items_list {
        border: 1px solid black;
        padding: 1rem;
        border-radius: 10px;

        .item {
            margin: 0.5rem;

            &:hover {
                cursor: pointer;
                background-color: gray;
            }
        }
    }
}