.CashRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .input_container {
        display: flex;

        .input_box {
            margin: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .id {
                -moz-appearance: textfield;
                -webkit-appearance: textfield;
                appearance: textfield;
                width: 10rem;
            }

            input {
                width: 5rem;
            }
        }
    }

    .items_list {
        border: 1px solid black;
        border-radius: 10px;
        width: 90%;
        max-height: 20rem;
        overflow-y: auto;
        text-wrap: pretty;
        text-align: center;

        .not_selected {
            &:nth-child(even) {
                background-color: #cfcfcf;
            }
        }

        .selected {
            &:nth-child(even) {
                background-color: rgb(50, 50, 50);
            }

            background-color: black;
            color: white;
        }

        .item {
            &:hover {
                cursor: pointer;
                background-color: gray;
                color: white
            }
        }
    }
}